body {
  min-height: 100vh;
  background-color: white; /* Default light mode background */
  color: black; /* Default text color */
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: #0f172a; /* Dark mode background */
  color: white; /* Dark mode text color */
}

#sidebar {
  width: 260px;
  font-weight: bold;
  background: linear-gradient(to right top, #313877, #051d3a);
  color: white;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}

body.dark-mode #sidebar {
  background: linear-gradient(
    to right top,
    #121212,
    #1d1d1d
  ); /* Dark mode sidebar background */
}

#rightside {
  flex: 1;
}

.content {
  height: calc(100% - 54px);
  background-color: #f8f9fa; /* Light mode background for content */
}

body.dark-mode .content {
  background-color: #333 !important; /* Dark mode content background */
  color: black;
}
body.dark-mode .content h2 {
  color: white;
}
body.dark-mode .content.cards {
  background-color: #2c3a47;
}

.hide {
  left: -100% !important;
  display: none;
}

#sidebar .list-group {
  border-radius: 0 !important;
}

#sidebar .list-group-item {
  border-radius: 10px !important;
  margin-bottom: 10px;
  background-color: #0f23d3;
  color: white;
}

body.dark-mode #sidebar .list-group-item {
  background-color: #333; /* Dark mode for sidebar items */
  color: white;
}

#sidebar .list-group-item.active {
  background: #02083d;
}

body.dark-mode #sidebar .list-group-item.active {
  background-color: #555; /* Dark mode active item */
}

/* Light Mode Navbar */
.navbar {
  background-color: #f8f9fa;
  color: black;
}

/* Dark Mode Navbar */
body.dark-mode .navbar {
  background-color: #1f2937; /* Dark mode background for navbar */
  color: white; /* Dark mode text color */
}

body.dark-mode .navbar .btn {
  color: white; /* Button text color in dark mode */
  background-color: #3b3f48 !important; /* Button background color in dark mode */
}

body.dark-mode .navbar .btn:hover {
  background-color: #555; /* Button hover effect in dark mode */
}

